html {
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 1rem 0;
}

@media only screen and (max-width: 1024) {
  .movies-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
}

@media only screen and (max-width: 992px) {
  .movies-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .movies-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

@media only screen and (max-width: 576px) {
  .movies-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}

.card-text-size {
  font-size: 1.3rem;
}
